:root {
  /*primary colors*/
  --primary-sage: #87bcbf;
  --primary-rust: #d97d54;
  --primary-drab: #324755;
  /*secondary colors*/
  --secondary-ice: #f0f3f4;
  --secondary-fossil: #c8d1d3;
  --secondary-sand: #b9b0a2;
  /*typography colors*/
  --typography-onyx: #1b1c20;
  --typography-slate: #6e8cad;
  --typography-snow: #ffffff;
}